
$transition_time: 0.5s;
$h1: 70px;
$h2: 50px;
$margin_section: 30px;

@mixin transition_all($time) {
    -webkit-transition: all $time;
    -moz-transition: all $time;
    -o-transition: all $time;
    transition: all $time;
}

html{    
    scroll-behavior: smooth;
    h1{
        font-family: Impact;
    }

    .btn-primary{
        //width: 30%;
        border-radius: 5px;
        border: none;
        color: white;
        font-weight: bold;
        background-color: #ff8800;
        font-size: 1.25rem;
        padding: 5px;
    }
    body{
        background-color: #E1E1E1;
        letter-spacing: 1px;

        nav{
            @include transition_all($transition_time);
            .navbar-brand{     
                font-family: Impact;       
                @include transition_all($transition_time);
            }
            .brand-expanded{
                font-size: 1.5rem;
            }
            .brand-shrinked{
                font-size: 1rem;
            }   

            #nav-ul{
                @include transition_all($transition_time);
                margin: 0 auto; 
                .nav-link{
                    @include transition_all($transition_time/4);
                }

                .nav-link:hover, .active{
                    background-color: #FF8800;
                    border-radius: .25rem;
                }
            }

            .navbar-expanded{
                height: 78px;  
                margin-right: 40% !important;  

                .nav-item{    
                    margin: 0 20px;    
                    .nav-link{
                        padding: calc((70px - 1rem) / 2) .5rem;
                    }
                }
            }
            .navbar-shrinked{
                height: 58px;  
                margin-right: 30px !important;      
                .nav-item{    
                    margin: 0 4px;          
                    .nav-link{
                        padding: calc((50px - 1rem) / 2) .5rem;
                    }
                }
            }  
        }

        #home-div{
            background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/bg1.jpeg");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            position: relative;
            offset-position: 50px;
            color: white;

            .blur_bg{
                backdrop-filter: blur(2px);
                padding: 20px;
                border-radius: 20px;
                background-color: rgba(255,255,255,0.2);

                .btn-primary{
                    display: block;
                }
            }
        }
        .reference{
            display: block;
            position: relative;
            top: -74px;
            visibility: hidden;
        }
        main {
            h1{
                color: #291b0a;
            }
            #article_header{
                margin-top: $margin_section;

            }

            #article_content{
                margin-top: 20px;
                font-family: Georgia, Times, "Times New Roman", serif;
                font-size: 1.25rem;
                border: solid;
                border-radius: 30px;
                border-color: #5f3d18;
                border-width: 5px;
                padding: 10px;
            }
            
            #about {
                #article_content{
                    p{
                        font-size: 1.5rem;
                        font-family: Impact;
                    }
                }
            }
        }
        footer{
            color: #fff;
            background-color: #1E1E1E;
            margin-top: $margin_section;
            h1, h2{
                color: #FF8800;
            }
            ul{
                margin-top: 4rem;
                list-style-type: none;
                font-size: 1.5rem;
            }
            form{
                textarea{
                    width: 100%;
                }
            }
        }

    }
}